
<div class="main-container dashboard">
    <div class="container-outer hp100">
        <div class="container">
            <div class="" style="text-align: center;">
                <img style="justify-content: center ;height: 400px;;"src="assets/img/desktop.png">
              </div>






            <!-- <div class="row mt-15 graph-info"> -->
                <!-- <div class="col s12 figure"> -->

                    <!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->


                    <!-- <div class="graph">
                        <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>

                </div> -->
                <!-- <div style="display: block">
                    <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
            </div> -->
            <!-- </div> -->
            <!-- </div>   -->


        </div>
    </div>
